registry = https://registry.npmjs.com
engine-strict = true
hoist = false
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=typescript
public-hoist-pattern[]=!*@types/*
public-hoist-pattern[]=jsdom
